#flask
jsonpickle==1.1
flask-socketio==4.2.1
eventlet==0.33.3
flask-login==0.4.1
flask_cors==3.0.8
cython==0.29.13
pandas==0.25.1
numpy==1.17.2
tensorflow==1.15.4
gunicorn
munch==2.4.0
click==8.0.4
Flask==2.2.5
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
Werkzeug==2.0.3
